// File Name: _button.scss
// Description: Button styles
// Used by: app.scss
// Dependencies:
// ------------------------------------------------------------

// =======================
//         btns
// =======================
.btn {
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  font-weight: 100;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  min-width: 230px;
  max-width: 100%;

  &__small {
    padding: .25rem 2rem;
    min-width: 125px !important;
    max-width: 200px !important;
  }

  // ----------------------------
    // BUTTON - Variations
  // ----------------------------
  &__clear-btn {
    background-color: transparent;
    border: 1px solid $light-green;
    transition: transform .25s ease;
  }

  &__white-border-btn {
    background-color: $white;
    border: 1px solid $dark-green;
    color: $black;
  }

  &__lime-btn {
    color: $white;
    background-color: $dark-green;
    border: 1px solid $white;
  }
}

// --------------------------------
  // BUTTON - Border Effect Mixin
// --------------------------------
.draw-border {
  @include btn-border-drawing($light-green, $orange, 1px, bottom, right);
}

// ----------------------
  // BUTTON - Responsive
// ----------------------

@include md {
  .btn {
    font-size: 14px;
    padding: .70rem;
    margin: .75rem;
  }
};

@include sm {
  .btn {
    font-size: 12px;
    padding: .70rem;
    margin: .75rem;
  }
};

// ----------------------
  // BUTTON - Responsive
// ----------------------
@include min-lg {
  padding: 1rem 1.15rem;
};

@include min-md {
  font-size: 16px;
};

@include min-lg {
  font-size: 18px;
};

// ----------------------
  // Animations
// ----------------------
@keyframes rippleAnimation {
  100% {opacity: 0; transform: scale(2.5);}
}
