// File Name: _button.scss
// Description: Button styles
// Used by: app.scss
// Dependencies:
// ------------------------------------------------------------

// =======================
//         btns
// =======================
.btn {
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  min-width: 230px;
  max-width: 100%;

  &__small {
    padding: .25rem 2rem;
    min-width: 125px !important;
    max-width: 200px !important;
  }

  // ----------------------------
    // BUTTON - Variations
  // ----------------------------
  &__clear-btn {
    background-color: transparent;
    color: $orange;
    border: 1px solid $light-green;

    a {
      &:hover {
        background-color: $dark-green !important;
        color: $white !important;
      }
    }
  }

  &__white-border-btn {
    background-color: $white;
    border: 1px solid $dark-green;
    color: $black;
  }

  &__lime-btn {
    color: $white;
    background-color: $dark-green;
    border: 1px solid $white;
  }
}

// ----------------------
  // BUTTON - Responsive
// ----------------------

@include md {
  .btn {
    font-size: 14px;
    padding: .70rem;
    margin: .75rem;
  }
};

@include sm {
  .btn {
    font-size: 12px;
    padding: .70rem;
    margin: .75rem;
  }
};

// ----------------------
  // BUTTON - Responsive
// ----------------------
@include min-lg {
  padding: 1rem 1.15rem;
};

@include min-md {
  font-size: 16px;
};

@include min-lg {
  font-size: 18px;
};

// ----------------------
  // Keyframes (Ripple)
// ----------------------
@keyframes rippleAnimation {
  100% {opacity: 0; transform: scale(2.5);}
}
