// File Name: _footer.scss
// Description: Footer styles
// Used by: app.scss
// Dependencies:
// ------------------------------------------------------------

// =============================
//           Footer
// =============================
.footer {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 5% 3%;
  background-color: $dark-green;

  // --------------------------------
    // FOOTER - Logo
  // ---------------------------------
  &__logo {
    width: 35%;
    align-self: center;

    p {
      color: #f8a13a;
      bottom: 0;
      font-size: 12px;
      font-weight: 100;
    }
  }

  // --------------------------------
    // FOOTER - Links
  // ---------------------------------
  &__links {
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    height: 100%;
    align-content: center;
    align-items: flex-start;
    text-align: left;

    &--title {
      text-transform: uppercase;
      border-bottom: 1px solid $white;
      display: block;
      color: $white;
      font-size: 12px;
      font-weight: 100;
      padding-bottom: 4px;
      margin-bottom: 8px;
      margin-right: 25%;
    }

    a {
      line-height: 33px;
      font-weight: lighter;
      display: block;
      font-size: 12.5px;

      margin-right: 25px;
      padding-bottom: 5px;
      text-transform: uppercase;
      position: relative;
      &:before,
      &:after {
        content: '';
        bottom: 0;
        left: 0;
        width: 20%;
        position: absolute;
        transition: transform .25s ease;
      }
      &:hover {
        cursor: pointer;
        color: darken($white, 20%);
      }
    }

    &__links1 {
      padding-left: 5%;
      width: 50%;
    }

    &__links2 {
      width: 50%;
    }
  }
}


@include sm {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 5%;

    &__links {
      flex-direction: column-reverse;
      padding-left: 5%;
      width: 90%;

      &__links1 {
        width: 100%;
        padding: 0;
        margin-top: 5%;
        margin-bottom: 2%;
      }
      &__links2 {
        width: 100%;
        padding: 0;
        margin-top: 5%;
        margin-bottom: 2%;

      }

    }
  }
}
