// File Name: _horizontalrules.scss
// Description: <hr> styles
// Used by: app.scss
// Dependencies:
// ------------------------------------------------------------

// =============================
//   HRs - Home
// =============================
.hr {
  height: 0.05%;
  width: 100%;
  border: 1px solid $black;
  margin-left: 0;
  margin-right: 0;
}

.hr-dashed {
  @extend .hr;
  width: 100%;
  border: 1.45px dashed $black;
}
