// File Name: _navbar.scss
// Description: Header/Navbar styles
// Used by: app.scss
// Dependencies:
// TODO: separate structure into layout/layout.scss module
// ------------------------------------------------------------


// =======================
//         Nav
// =======================
.Nav {
  z-index: 2;
  display: flex;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100px;
  min-height: 100px;
  margin-bottom: 10%;
  background-color: transparent;
  flex-flow: row wrap;
  flex-shrink: none;
  align-items: center;
  justify-content: flex-end;
  transition: .5s all;

  &__nav-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 10%;
    width: 5%;
    height: 70%;
    background-color: $logo-color;
  }

  &__nav-list {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    align-self: center;
    padding-right: 5%;

    li {
      vertical-align: middle;
      padding-top: 12px;
      font-weight: 100;
      letter-spacing: .5px;
      text-align: right;
      text-transform: uppercase;
    }

    a {
      margin-right: 25px;
      text-transform: uppercase;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: $orange;
        -webkit-transition: width 120ms ease-in;
        transition: width 120ms ease-in;
      }
    }
  }

  &--isSmaller {
    background-color: $white !important;
    height: 55px !important;
    min-height: 55px !important;
  }

  &--isHidden {
    display: none !important;
  }

  &--scrolled {
    transition: 0.5s ease;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
    &.logo {
      float: left;
      display: inline-block;
      margin-top: 5px;
      margin-left: 5%;
      width: 30px;
      height: 30px;
      background-color: firebrick;
      transition: 0.5s ease;
    }
  }
}


@include sm {
  .Nav {
    height: 75px;

    &__nav-logo {
      width: 50px;
      height: 50px;
      img {
        height: 95%;
      }
    }
  }
}
