// File Name: _nav-lists.scss
// Description: OL/UL styles
// Used by: app.scss
// Dependencies:
// ------------------------------------------------------------

// -------------------------------------------------------------
  // OL/UL For Nav
// -------------------------------------------------------------

.nav-list {
  ol, ul {
    list-style: none;

    li {
      color: $black;
      font-weight: 100;
      letter-spacing: .5px;
      line-height: 1.5;
      display: list-item;
      text-align: -webkit-match-parent;

      a {
        padding: 9px 0 6px;
        // margin-right: 48px;
        color: inherit;
        display: inline-block;
        background-color: transparent;
      }

      &:hover {
        cursor: pointer;
        cursor: hand;
      }
    }
  }
}
