$black: #333;

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// -------------------------------------------------------------
  // OL/UL
// -------------------------------------------------------------
ol, ul {
  list-style: none;

  li {
    color: $white;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 1.5;
    display: list-item;
    text-align: -webkit-match-parent;

    a {
      color: inherit;
      display: inline-block;
      background-color: transparent;
    }

    &:hover {
      cursor: pointer;
      cursor: hand;
    }
  }
}

// -------------------------------------------------------------
  // Links
// -------------------------------------------------------------
a {
  color: inherit;
  display: inline;
  font-weight: 100;
  list-style: none;
  margin: 0;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    cursor: hand;
  }

  p {
    line-height: 1.5;
  }
}
