$black: #333;

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  margin: 0;
  list-style: none;
  text-decoration: none;
}

  // -------------------------------------------------------------
    // Nav
  // -------------------------------------------------------------
  ul {
    list-style: none;

    li {
      color: $black;
      font-weight: 100;
      letter-spacing: .5px;

      &:hover {
        cursor: pointer;
        cursor: hand;
      }
    }
  }

  // -------------------------------------------------------------
    // Links
  // -------------------------------------------------------------
a {
  color: $black;
  font-weight: 100;
  list-style: none;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;

    &:hover {
      cursor: pointer;
      cursor: hand;
    }

  p {
    line-height: 1.2em;
  }
}
