// File Name: _typography.scss
// Description: typos
// Used by: app.scss
// Dependencies:
// ------------------------------------------------------------


// -------------------------------------------------------------
  // Font
// -------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

// -------------------------------------------------------------
  // Variables
// -------------------------------------------------------------
$font-hgroup: 'Raleway', sans-serif;
$font-body: 'Playfair Display', serif;


// -------------------------------------------------------------
  // Font Size
// -------------------------------------------------------------
html {
  color: $black;
  font-family: $font-body;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.3;
  font-size: 16px;

  @include min-md {
    font-size: 18px;
  }

  @include min-lg {
    font-size: 20px;
  }

  @include min-xl {
    font-size: 26px;
  }
}

// -------------------------------------------------------------
  // H-group
// -------------------------------------------------------------
h1, h2,
h3, h4,
h5 {
  font-family: $font-hgroup;
  margin: 1rem 0;
  line-height: 1.5;
}

h1 {
  font-size: 2.53em;
  @include min-sm {
    font-size: 2.3353em;
    line-height: 1.3;
  }
  @include min-lg {
    font-size: 3.48em;
    line-height: 1.3;
  }
}

h2 {
  font-size: 1.79em;
  font-weight: 100;
  color: $light-green;

  @include sm {
    font-size: 1.2447em;
  }
  @include lg {
    font-size: 1.2447em;
  };
}

h3 {
  font-size: 1.52035em;
  font-weight: 300;

  @include min-sm {
    font-size: 1.97205em;
  }
  @include min-lg {
    font-size: 1.97205em;
  }
}

h4 {
  color: $white;
  font-weight: 500;
  font-size: 1.25em;

  @include min-sm {
    font-size: 1.2em;
  }
  @include min-lg {
    font-size: 1.2769em;
  };
}

h5 {
  font-size: 1.5rem;
  color: $black;
  font-weight: 500;

  @include min-sm {
    font-size: 1.25rem;
  }
}

// ==========================
//    TYPOGRAPHY - EMPHASIS
// ==========================
.emphasis {
  &__orange {
    color: $logo-color !important;
  }

  &__lime {
    color: $orange !important;
  }
}
